<%- model_class = Phase -%>
<div class="page-header">
  <center><h1><i>Phase of life</i></h1></center>
</div>

<div class = "container">
<% @folders.each do |f| %>
  <% f.phases.each do |p| %>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-default">
        <div class="shape">
          <div class="shape-text">
            Phase              
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
           <%= link_to p.name , phase_path(p) %>

          </h3>
          <p>
           
                   <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_phase_path(p), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      phase_path(p),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          </p>
        </div>
      </div>
    </div>
      

 
  <% end %>
<% end %>  

</div>